@model IEnumerable<LocadoraDigital.ViewModels.ClientViewModel>

@if (ViewBag.Message != null)
{
    <script>
        alert('@ViewBag.Message');
    </script>
}

@{
    ViewData["Title"] = "Client List";
}

<h2>Client List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>@client.Name</td>
                <td>@client.Email</td>
                <td>@client.Phone</td>
                <td>@client.Address</td>
                <td>
                    <a href="@Url.Action("UpdateClient", new { id = client.Id })" class="btn btn-warning btn-sm">Editar</a>
                    <a href="@Url.Action("DeleteClient", new { id = client.Id })" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
